
.staffing-image-text{
  /* border: 2px solid red; */
  background: url('../../../../public/staffing/human-resources-concept-with-hand_23-2150389117.avif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(8, 9, 12, 0.6);
  opacity: 1;
  background-blend-mode: darken;
  align-items: flex-end;
  padding-bottom: 80px;
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  font-family: Inter, sans-serif;
}
.more-height{
  height: auto;
  min-height: 400px;

}
.diff-box>p{
  font-size: 1.3rem;
  text-align: center;
  margin: 14px 10px;
}
.active-about.fade-up-11{
  animation: fade-up-11 0.7s ease-in;
}
@keyframes fade-up-11 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.active-about.fade-up-10{
  animation: fade-up-10 0.7s ease-in;
}
@keyframes fade-up-10 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px){
  @keyframes fade-up-11 {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  html{
    font-size: 14px
  }
  
}
@media only screen and (max-width: 600px){
  .diff-box>p{
    font-size: 1rem;
  }
  html{
    font-size: 10px
  }
}
